<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         stopOnError="false"
         stopOnFailure="false">

    <testsuites>
        <testsuite name="Unit">
            <directory>tests</directory>
            <exclude>tests/bootstrap.php</exclude>
        </testsuite>
    </testsuites>


    <source>
        <include>
            <directory>includes</directory>
            <directory>api</directory>
        </include>
    </source>
</phpunit>
